{% extends "base.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
   <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>From</th>
        <th>To</th>
        <th>Room</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <form action="/admin/delete" id="d-form" method="POST" accept-charset="UTF-8">
    <label>
        Delete
        <input type="number" name="ID" required>
    </label>
        <div class="btns"><input type="submit" value="Send Request">
    </div>
  </form>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/api/data',
        columns: [
        {data: 'id', orderable: true, searchable: true},
          {data: 'name'},
          {data: 'email', orderable: false, searchable: false},
          {data: 'telnr', orderable: false, searchable: false},
          {data: 'from_time', orderable: false, searchable: true},
          {data: 'to_time', orderable: false, searchable: true},
          {data: 'room'}
        ],
      });
    });
  </script>
{% endblock %}